# Flask for creating the REST API
Flask>=3.0.3

# Flask-CORS to handle cross-origin requests from the Flutter frontend
Flask-CORS>=5.0.0

# TensorFlow for building and running the LSTM model
tensorflow>=2.18.0

# pandas for data manipulation and preprocessing
pandas>=1.5.3

# numpy for numerical computations
numpy>=2.0.2

# API for fetching stock data.
yfinance>=0.2.47

# API for fetching stock data.
alpha-vantage>=3.0.0

# scikit-learn for potential data scaling or model evaluation
scikit-learn>=1.5.2

# For interfacing with database.
flask-sqlalchemy>=3.1.1
psycopg2-binary>=2.9.10

# Production runner.
gunicorn>=23.0.0